<p>Animals are to remain under isolation and none to be removed or added in transit up to the final designated slaughter / processing places
    Emergency Slaughters to be supervised by authorized veterinary personnel and a report submitted to the final destination veterinary authorities,
    Animals ( revention of Cruetty) Chapter 39 must be guaranteed by the certifying, loading and stock-route inspection officers. Animals here mean
    domestic mammalian, birds and wildlife animals of terrestrial -aquatic origin. The Certificate is issued in triplicate and for only a single
    consignment. Slaughter animals shall be identified by the SL mark on the left jaw and or centrally serialized Red ear tags. Extra inf ;
    should be attached. <b>This is not a revenue collection receipt.</b></p>